:root {
    --dark-grey: #5C5C5C;
    --bs-primary: #1348C2;
    --bs-primary-50: #1348c28a;
    --bs-secondary: #FF016C;
    --bs-secondary-hover: #d30158;
}

a {
    font-weight: 500 !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    /* font-family: var(--bs-font-monospace) !important; */
}
a:not(.btn):hover {
    /* font-style: italic; */
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    --font-Segoe-UI: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-family:var(--font-Segoe-UI) !important;
    font-weight: 700 !important;
    color: var(--bs-primary);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.3em;
}

p {
    font-size: 1.1rem;
    /* line-height: 1; */
}


.btn, .form-control {
    border-radius: 10px;
}


.box > *:not(:last-child) {
    margin-bottom: 40px;
}

.container {
    transition: .3s max-width;
}

/* NAVBAR */
.nav-link {
    padding: 5px 10px;
    transition: 0;
}


/* BUTTONS */
.btn {
    padding: 7px 30px;
    transition: .3s background-color;
}
.btn-primary {
    background-color: var(--bs-primary);
}
.btn-secondary {
    background-color: var(--bs-secondary);
    border: 0;
}
.btn-secondary:hover {
    background-color: var(--bs-secondary-hover);
    border: 0;
}
.btn-secondary:focus {
    background-color: var(--bs-secondary);
}
.btn-link {
    text-decoration: none;

}
.btn-link:hover {
    background-color: var(--bs-light);
}
footer .btn-link:hover {
    background-color: rgba(var(--bs-light-rgb),.2);
}



/* PARAGRAPH SPACING */
.ls-5 {
    line-height: 1.8;
}








/* SCREENS */
section {
    padding: 80px 0;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.first-screen {
    max-width: 1100px;
    margin: 0 auto;
    padding: 80px 0;
}
img[src="img/fs.png"] {
    z-index: -1;

    transition: .3s opacity;
}

@media (max-width: 1100px) {
    img[src="img/fs.png"] {
        opacity: 0.2;
    }
}
@media (max-width: 768px) {
    .btn-link {
        background-color: var(--bs-light);
    }
    footer .btn-link {
        background-color: rgba(var(--bs-light-rgb),.2);
    }
    .btn-link:hover {
        background-color: var(--bs-gray-200);
    }
    section {
        padding: 50px 0;
    }
}

/* SECOND SCREEN : WHY-ME */
.why-we > *:not(:last-child) {
    margin-bottom: 60px;
}



.mini-card img {
    width: 110px;
}
.mini-card > *:not(:last-child) {
    margin-bottom: 25px;
}
.mini-card p {
    color: var(--dark-grey);
}



.qustions h2 {
    margin-bottom: 35px;
}
.qustions .row {
    margin-bottom: 0;
}
.qustions .col {
    margin-bottom: 80px;
}
.qustions p, .qustions li {
    line-height: 1.7;
    color: var(--dark-grey);
}

.qustions span {
    display: inline-block;
    margin-top: 20px;
}

@media (max-width: 991px) {
    .qustions .row {
        flex-direction: column;
    }
}




/* FOOTER */
footer {
    width: 100%;
}
footer * {
    color: #fff !important;
}





/* FORUM */
.sorting-by__select {
    display: inline-block;
    width: auto;
    border: 0;
    font-weight: 500;
    cursor: pointer;
}

.search {
    background-color: #eee;
    border-radius: 10px;
    display: flex;
}
.search .form-control {
    border: 0;
    background-color: transparent;
}

.article:not(:first-child) {
    margin-top: 50px;
}
.article__img {
    border-radius: 15px;
}
.article__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.article__author, .article__data {
    color: #aaa;
    margin-left: 20px;
    position: relative;
}
.article__header > *:not(:first-child):before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #bbb;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translate(-50%, -50%);
}
.article__title {
    color: black;
}
.article__text {
    color: #555;
}



/* LESSONS */

.lessons__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
}

.lesson {
    margin: 10px;
    max-width: 470px;
    background-color: #eee;
    padding: 20px;
    border-radius: 10px;
}
.lesson__title {
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lesson__rating {
    color: #555;
    font-weight: 900;
    display: flex;
    align-items: center;
}
.lesson__rating span {
    margin-left: 2px;
}
.lesson__rating path {
    fill: #555;
}
.lesson__text {
    display: block;
    color: #555;
}



/* BLOG */

.blog__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -35px -20px;
}
.blog__content .article {
    max-width: 440px;
    margin-top: 0;
    margin: 35px 20px;
}


/* FORM */

.form-control {
    padding: 10px 18px;
    outline: 0;
    font-size: 16px;
}
.form-label {
    font-weight: 700;
}
input {
    width: 100%;
}




/* CARD */
.card {
    border-radius: 10px;
}
#new-page > div{
    font-weight: 500 !important;
}